# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
.idea/*
Lexer.java
Lexer.java~
xthScript.results
*.lexed
*.parsed
*.typed
parser.java
parser.java~
sym.java